.projects {
  padding: 60px 30px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #f9f9f9;
  font-family: 'Segoe UI', sans-serif;
  margin-top: 20px;
    margin-bottom: 20px;
}

.projects h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #222;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}

.project-card {
  background: #fff;
  border-left: 4px solid #007acc;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.project-card h2 {
  font-size: 1.3rem;
  color: #007acc;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 1rem;
  color: #444;
  margin-bottom: 10px;
}

.tech-stack {
  font-style: italic;
  color: #666;
  margin-bottom: 10px;
   border-radius: 15% 15%;
}

.project-card a {
  text-decoration: none;
  color: #0056b3;
  font-weight: bold;
}

.project-card a:hover {
  text-decoration: underline;
}
